.imagem{ width: 300px;
        height: 150px;
}

.texto{
    color: #ff5248;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 20px;
}

.todas{
    display: grid;
    grid-template-columns: 33% 33% 33%;


  }
